<nav class="nav-bar">
	<h2 class="logo">Project</h2>
	<div class="nav-items">
	  <a  routerLink="/homepage">Home</a>
	  <a routerLink="/js-login">JobSeeker Login</a>
	  <a routerLink="/rec-login">Recruiter Login</a>
	 
	</div>
  </nav>


<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>personal information</a>
      <ng-template ngbNavContent>
              
        <section class="background-radial-gradient overflow-hidden">
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
        
        
                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        
                        <div class="card bg-glass">
                            <div class="card-body px-4 py-5 px-md-5 userReg">
                                <form action="#" name="registration"  [formGroup]="registerForm" (ngSubmit)="collectUser()">
        
                                    <div *ngIf="isSubmitted" class="alert alert-success alert-dismissible fade show"
                                        role="alert">
                                        <strong>Success!</strong> You Registration has been succcesful!.
                                        <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
        
                                    <label for="fname" class="form-label">First Name<span style="color:red">*</span></label>
                                    <input type="text" formControlName="fname" class="form-control"
                                        placeholder="Enter Firstname" [ngClass]="{'fieldInvalid':'(minlength)||(required)'}">
        
                                    <div
                                        [hidden]="registerForm.controls['fname'].untouched || registerForm.controls['fname'].valid">
                                        <div *ngIf="registerForm.controls['fname'].hasError('required')" class="text-danger">
                                            First Name required</div>
                                        <div *ngIf="registerForm.controls['fname'].hasError('minlength')" class="text-danger">
                                            First Name must be atleast 5 characters</div>
                                    </div>
        
        
                                    <label for="lastname" class="form-label">Last Name<span style="color:red">*</span></label>
                                    <input type="text" formControlName="lname" class="form-control" id="lastname"
                                        placeholder="Enter Lastname" [ngClass]="{'fieldInvalid':'(minlength)||(required)'}">
        
                                    <div
                                        [hidden]="registerForm.controls['lname'].untouched || registerForm.controls['lname'].valid">
                                        <div *ngIf="registerForm.controls['lname'].hasError('required')" class="text-danger">
                                            Last Name required</div>
                                        <div *ngIf="registerForm.controls['lname'].hasError('minlength')" class="text-danger">
                                            Last Name must be atleast 5 characters</div>
                                    </div>
        
                                    <label for="email" class="form-label">Email address<span style="color:red">*</span></label>
                                    <input type="email" formControlName="email" class="form-control" id="email"
                                        placeholder="Enter Email" [ngClass]="{'fieldInvalid':'(email)||(required)'}">
        
                                    <div
                                        [hidden]="registerForm.controls['email'].untouched || registerForm.controls['email'].valid">
                                        <div *ngIf="registerForm.controls['email'].hasError('required')" class="text-danger">
                                            Email required</div>
                                        <div *ngIf="registerForm.controls['email'].hasError('email')" class="text-danger">
                                            Email must be in email format</div>
                                    </div>
        
                                    <label for="password" class="form-label">Password<span style="color:red">*</span></label>
                                    <input type="password" formControlName="password" class="form-control"
                                        placeholder="Enter Password" [ngClass]="{'fieldInvalid':'(pattern)||(required)'}">
        
                                    <div
                                        [hidden]="registerForm.controls['password'].untouched || registerForm.controls['password'].valid">
                                        <div *ngIf="registerForm.controls['password'].hasError('required')" class="text-danger">
                                            Password required</div>
                                        <div *ngIf="registerForm.controls['password'].hasError('pattern')" class="text-danger">
                                            Password with atleast 1 Alphabet , 1 Number and 1 Symbol</div>
                                    </div>
        
                                    <label for="phonenumber" class="form-label">Phone Number<span
                                            style="color:red">*</span></label>
                                    <input type="text" formControlName="phone" class="form-control" id="phone"
                                        placeholder="Enter Phone Number" [ngClass]="{'fieldInvalid':'(pattern)||(required)'}">
        
                                    <div
                                        [hidden]="registerForm.controls['phone'].untouched || registerForm.controls['phone'].valid">
                                        <div *ngIf="registerForm.controls['phone'].hasError('required')" class="text-danger">
                                            Phone Number required</div>
                                        <div *ngIf="registerForm.controls['phone'].hasError('pattern')" class="text-danger">
                                            Phone Number must be 10 characters</div>
                                    </div>

                                    <label for="dob" class="form-label">D.O.B<span style="color:red">*</span></label>
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" (click)="d.toggle()"
                                formControlName="dob">
                                        

                                    <label for="type" class="form-label">Type<span style="color:red">*</span></label><br>
                                    <input type="radio" formControlName="type" value="Salaried">Salaried
                                    <input type="radio" formControlName="type" value="Job Seeker">JobSeeker
        
                                    <div
                                        [hidden]="registerForm.controls['type'].untouched || registerForm.controls['type'].valid">
                                        <div *ngIf="registerForm.controls['type'].hasError('required')" class="text-danger">
                                            Type is required</div>
                                    </div>
                                    <div class="row top-buffer">
                                        <!-- Address -->
                                          <div class="form-group col-sm-3">
                                            <label for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress" name="add1" placeholder="1234 Main St">
                                          </div>
                                          <div class="form-group col-sm-3">
                                            <label for="inputAddress2">Address 2</label>
                                            <input type="text" class="form-control" id="inputAddress2" name="add2" placeholder="Apartment, studio, or floor">
                                          </div>
                                          <div class="form-row">
                                            <div class="form-group col-sm-2">
                                              <label for="inputCity">City</label>
                                              <input type="text" class="form-control" name="city" id="inputCity">
                                            </div>
                                            <div class="form-group col-sm-2">
                                              <label for="inputState">State</label>
                                              <select id="inputState" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>andhra pradesh</option>
                                                <option>Karnataka</option>
                                                <option>Kerala</option>
                                                <option>Madhya Pradesh</option>
                                                <option>Arunachal Pradesh</option>
                                                <option>Assam</option>
                                                <option>Bihar</option>
                                                <option>Jammu and Kashmir</option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">Zip</label>
                                              <input type="text" class="form-control" name="zip" id="inputZip">
                                            </div>
                                          </div>
                                          <!-- Address  -->
                                     </div>
                                     <button (click)="changetab()">Save & next</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
         
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Educational information</a> 
      <ng-template ngbNavContent>
        <p>tab 2</p>
        <body>
            <div class="container register-form top-buffer-1">
              <div class="form">
                  <div class="note">
                  </div>
             <div class="form-content bk">
                <form action="#" method="POST">
                        
                        <!-- Educational Qualification -->
                        
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Educational Qualification</legend>
                            <div class="row">
                                <div class="col-sm-4">
                                  <label for="cname">Collage Name</label>
                                  <input type="name" class="form-control" id="title" placeholder="KITS" name="cname">
                                </div>
                                <div class="col-sm-4">
                                  <label for="uname">University Name</label>
                                  <input type="name" class="form-control" id="fmane" placeholder="JNTUH" name="uname">
                                </div>
                                <div class="col-sm-4">
                                  <label for="place">Place</label>
                                  <input type="name" class="form-control" id="fmane" placeholder="Manohar" name="place">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-sm-2">
                                  <label for="percentage">Percentage %</label>
                                  <input type="number" class="form-control" id="email" placeholder="xyz@xyz.com" name="percentage">
                                </div>
            
                                <div class="col-sm-2">
                                  <label for="phone">Specialization</label>
                                  <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                                </div>
                                <div class="col-sm-2">
                                  <label for="phone">Majors / Subjects</label>
                                      <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                      </select>
                                </div>
                                <div class="col-sm-2">
                                  <label for="yop">Year of Passing</label>
                                  <input name="number" class="form-control" id="dob" type="yop" />
                                </div>
                                <div class="col-sm-2">
                                  <label for="phone">Any Work Exp?</label><br>
                                    <div class="radio-inline"><label><input type="radio" name="work" value="yes" >Yes</label></div>
                                    <div class="radio-inline"><label><input type="radio" name="work" value="no" checked>No</label></div>
                                </div>
                            </div>
                        </fieldset>
                        <!--Educational Qualification -->
        
                  </form>
                </div>
              </div>
              </div>
        </body>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Three</a>
      <ng-template ngbNavContent>
        <p>tab3</p>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre>