<body>

<div>

    <h1 style="text-align:center;color:cornflowerblue;margin:50px 0px">About Us</h1>
</div>
<div class="flex_1">
    <div class="about">
<h1>About Company</h1>
<p>Our company is the #1 job site in the world1 with over 250M unique visitors every month. 
    Indeed strives to put job seekers first, giving them free access to search for jobs, post resumes, 
    and research companies. Every day, we connect millions of people to new opportunities.</p>
    </div>
    <div>
    <img src="/assets/01.jpg">
    </div>
    </div>

    <hr> 

    <div class="flex">
<div>
    <h3 style="font-size:55px;color:cornflowerblue;text-align: center;">220M</h3>
    <p style="font-size:20px;">monthly visitors to our website</p>
</div>
<div>
    <h3 style="font-size:55px;color:cornflowerblue;text-align: center;" >225M</h3>
    <p style="font-size:20px;">resumes on our website</p>
</div>
<div>
    <h3 style="font-size:55px;color:cornflowerblue;text-align: center;">123M+</h3>
    <P style="font-size:20px;">Total ratings and reviews</P>
</div>
    </div>

    <hr style="color: grey;">

<div class="flex_2">
    <div>
        <img src="/assets/02.jpg">
        </div>
    <div class="about">
    <h2>our staff</h2>
    <p>At our company, our mission is to help people get jobs.
         We have more than 13,300 global employees passionately
         pursuing this purpose and improving the recruitment journey
          through real stories and data. We foster a collaborative workplace 
           that strives to create the best experience for job seekers.</p>
    </div>
         
</div>
<footer>
    <div class="social1">
        <div class="social2">
            <h2>Quick Links</h2>
            <ul>
                <a href="#">job packages</a><br><br>
                <a href="#">post new jobs</a><br><br>
                <a href="#">job style grid</a><br><br>
                <a href="#">employer listing</a><br><br>
                <a href="#">employers grid</a><br><br>
            </ul>
        </div>
            <div class="social2">
                <h2>For Candidates</h2>
            <ul>
                <a href="#">user dashboard</a><br><br>
                <a href="#">cv packages</a><br><br>
                <a href="#">job features</a><br><br>
                <a href="#">job urgent</a><br><br>
                <a href="#">candidates listing</a><br><br>
                <a href="#">candidates grid</a><br><br>
            </ul>
            </div>
            <div class="social2">
                <h2>For Employers</h2>
            <ul>
                 <a href="#">post new</a><br><br>
                 <a href="#"> job employer</a><br><br>
                 <a href="#">employers grid</a><br><br>
                 <a href="#"> packages</a><br><br>
                 <a href="#">listing</a><br><br>
                 <a href="#">jobs featured</a>
            </ul>
            </div>
            <div>
            <div class="end">
                <h1>FEATURED JOBS</h1>
                <P>At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui Blanditiis.At Vero Eos.</P>
            </div>
            <div class="social">
               <a href="#"><i class="fa-brands fa-facebook-f"></i></a> 
               <a href="#"><i class="fa-brands fa-twitter"></i></a>
               <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
               <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
               <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="store">
                <button>
                    <i class="fa-brands fa-google-play"></i>
                    PLAY STORE
                </button>
                <button>
                    <i class="fa-brands fa-app-store"></i>
                    APP STORE
                </button>
            </div>
        </div>
        </div>
        <div class="endtitle">
            © Copyright 2019 WorkUp – Powerd By ApusTheme
        </div>
</footer>

</body>
