
   
<div>
    <body>
        <nav class="nav-bar">
            <h2 class="logo">Project</h2>
            <div class="nav-items">
              <a  routerLink="/l-">Jobs</a>
              <a routerLink="/user/js-login">JobSeeker Login</a>
              <a routerLink="/recruiter/rec-login">Recruiter Login</a>
              <a routerLink="/About">About us</a>
            </div>

          </nav>
         <header class="hero-section">
      
          <div class="hero-text-section">
            <h1>Juniors Make IT Work</h1>
            <p>Hire and Invest in highly skilled juniors now!</p>
            <button>Post Offer Now</button>
          </div>
        </header>
        <div class="job-offers">
          <h1>Newest Job Offers </h1>
          <a href="#">View all job offers</a>
        </div>
        <section class="jobs-section">
          <div class="job">
            <div class="job-title">
              <h2>Reactjs Developer</h2>
              <p>1 hours ago</p>
            </div>
            <div class="job-location">
              <h4>PickSaaS</h4>
              <p>London,UK</p>
            </div>
            <div class="job-description">
              <p
                >I am looking for a Java Developer.<br />
                Project for public sector location.NewYork<br />
                (during the pandemic remote work)<br />
                $ upto PLN 550 net / MD B2B</p
              >
            </div>
          </div>
          <div class="job">
            <div class="job-title">
              <h2>Junior Java Developer</h2>
              <p>2 hours ago</p>
            </div>
            <div class="job-location">
              <h4>PickSaaS</h4>
              <p>NewYork,USA</p>
            </div>
            <div class="job-description">
              <p
                >I am looking for a Java Developer.<br />
                Project for public sector location.NewYork<br />
                (during the pandemic remote work)<br />
                $ upto PLN 550 net / MD B2B</p
              >
            </div>
          </div>
          <div class="job">
            <div class="job-title">
              <h2>Javascript Developer</h2>
              <p>5 hours ago</p>
            </div>
            <div class="job-location">
              <h4>PickSaaS</h4>
              <p>NewYork,USA</p>
            </div>
            <div class="job-description">
              <p
                >I am looking for a Java Developer.<br />
                Project for public sector location.NewYork<br />
                (during the pandemic remote work)<br />
                $ upto PLN 550 net / MD B2B</p
              >
            </div>
          </div>
        </section>
        <section class="feature-companies">
          <h1>Featured Companies</h1>
          <div class="companies-container">
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <!-- <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div>
            <div class="company">
              <div class="icon-container">
                <img src="./assets/icon-briefcase.png" alt="" />
              </div>
              <h2>GrandParade</h2>
            </div> -->
          </div>
        </section>
        <section class="clt-section">
          <div class="clt-text-section">
            <h1>Recieve New Job Offers.</h1>
            <p
              >Want to know as soon as a new job offer is posted on our<br />
              website?Subscribe to our weekly job offer digest.</p
            >
            <div class="email-container">
              <input type="email" placeholder="Enter email address" />
              <button>Subscribe</button>
            </div>
          </div>
        </section>
        <div>

          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                  <h2>Footer #07</h2>
                </div>
              </div>
            </div>
          </section>
          <footer class="footer-07">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                  <h2 class="footer-heading"><a href="#" class="logo">Colorlib.com</a></h2>
                  <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">Agent</a>
                    <a href="#">About</a>
                    <a href="#">Listing</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                  </p>
                  <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12 text-center">
                  <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
              </div>
            </div>
          </footer>
        </div>
   </body>
    
</div>


