
<nav>
    <div class="nav-flex" style="color:aqua;">
        <h1>NON-Tech</h1>
    <div class="btn-flex">
    <div>
        <button type="button" class="btn btn-primary" routerLink="/homepage">HOME </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" routerLink="/jobseeker">profile</button>
    </div>
    </div>
    </div>
</nav>


<section class="acc0" style="margin-top:100px ;">
    <div class="acc1">
        <div class="acc">
            <h2>I,AM A RECRUITER</h2>
            <p>
                Post jobs by logging here...
            </p>
            <button routerLink="/js-login">
                LOGIN
            </button>
        </div>
    </div>
    <div class="acc1">
        <div class="acc2">
            <h2>I'AM A STUDENT</h2>
            <p>
             Search jobs by logging here...
            </p>
            <button routerLink="/rec-login">
                LOGIN
            </button>
        </div>
    </div>
</section>